<!DOCTYPE html>
<html lang="en">
  {% include "shared/head" %}
  <body id="{{slug}}">
    {% include "shared/header" %}
    <div id="loading"><img src='/img/loading.gif'></img></div>
    <div id="posts">
    </div>
  </body>
</html>
