<nav id="navigation">
  <ol>
    <li>
    <a href="#account.html"
       class="navlink account"
       data-module="account" >
      Account
    </a></li>
    <li>
    <a href="#feed.html"
       class="navlink feed"
       data-module="feed" >
      Feed
    </a></li>
  </ol>
</nav>
