<nav id="navigation">
  <ol>
  <li><a href="#/" class="index">Home</a></li>
  {% for item in navigation %}
    <p>{{item.current}}</p>
    <li><a href="#{{item.permalink}}index.html" class="{{item.module}}">{{item.name}}</a></li>
  {% endfor %}
  </ol>
</nav>
